<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17559858650-30m7ndrnne9g21frfa8srnbmt9n3bvul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17559858650-30m7ndrnne9g21frfa8srnbmt9n3bvul</string>
	<key>API_KEY</key>
	<string>AIzaSyBvtlPb2UARufWfJdK2pJaXjiTkt5Cb1Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>17559858650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tms.ParfotekaApp</string>
	<key>PROJECT_ID</key>
	<string>parfotekaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>parfotekaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17559858650:ios:16a7cb51fc22f41feb64e3</string>
</dict>
</plist>